{% extends '_base.html' %}

{% block main %}
<h2>Todos os Trecos</h2>
<small>Mais recentes primeiro.</small>

      {% if total > 0 %}
    <div class="grid">
        {% for content in contents %}
        <div class="cell">
            <div class="card">
                <div class="card-image"><img src="{{ content.photo }}" alt="{{ content.name }}"></div>
                <div class="card-body"><a href="{{ url_for('view', thing_id=content.id) }}">{{ content.name }}</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}